.link-card{
    width: 600px;
    
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    position: relative;
    margin: 30px;
    padding: 20px;
    box-shadow: 5px 5px 5px 1px #a3a3a3;
}
.link-card-title{
    /* position: absolute; */
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 30px;


}

.link-card-short-url a{
    text-decoration: none;
    margin-left: 10%;
    font-size: 16px;
    margin-bottom: 100px;

}
.link-card-target-url a{
    text-decoration:  none;
    margin-left: 10%;
    color: black;
    font-size: 15px;
    margin-top: 40px;
}
.cpy-btn{
    position: absolute;
    display: flex;
    font-size: 10px;
    top: 10px;
    padding: 6px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    right: 10px;
}
.cpy-btn:hover{
    /* background-color: #e9e9e9; */
    transition: .4s;
    border: 1px solid rgb(76, 201, 22);
    box-shadow: 0px 0px 4px 1px rgb(93, 255, 24) ;
}
.delt-btn{
    position: absolute;
    font-size: 10px;
    top: 10px;
    padding: 2px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    right: 85px;
}
.delt-btn:hover{
    transition: .4s;
    border: 1px solid rgb(255, 86, 57);
    box-shadow: 0px 0px 4px 1px rgb(255, 86, 57) ;
}
.share-btn{
    position: absolute;
    font-size: 10px;
    top: 10px;
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #a3a3a3;
    border-radius: 5px;
    right: 120px;
    transition: .5s;
}
.share-btn:hover{
    border: 1px solid rgb(0, 174, 255);
    box-shadow: 0px 0px 5px 1px rgb(0, 174, 255) ;
   
}
.link-card-created-at{
    position: absolute;
    bottom: 10px;
    margin-top: 30px;
    right: 10px;
}
.link-card-views{
    display: flex;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.qr{
    position: absolute;
    top:40%;
    right: 20px;
}